@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.wrapper {
    margin: auto;
    width: 80%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section {
    margin: 10px;
    padding: 10px 0px;
}

.user-input {
    height: 30px;
    width: 80%;
    font-size: 15px;
    background: #b2ffff;
}

ul > li {
    list-style: none;
    padding: 10px;
    text-align: left;

}


